<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" mat-dialog-close>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group row required">
    <label class="col-sm-3 col-form-label">Firm Name</label>
    <div class="col-sm-9">
      <input #firmname="ngModel" required class="form-control" [(ngModel)]="firm.firm_name">
      <div *ngIf="firmname.invalid && (firmname.dirty || firmname.touched)" class="validate-error">
        <div *ngIf="firmname.errors.required">
          Firm name is required.
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">E-mail</label>
    <div class="col-sm-9">
      <input class="form-control" [(ngModel)]="firm.email" placeholder="a@b.com">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Phone</label>
    <div class="col-sm-9">
      <input type="tel" placeholder="123 456 7890" pattern="[0-9]{3} [0-9]{3} [0-9]{4}" maxlength="12" class="form-control" [(ngModel)]="firm.phone">
    </div>
  </div>
</div>
<div class="modal-footer">
  <!-- <button type="button" class="btn btn-outline-dark" (click)="activeModal.close({'foldername': foldername, 'description':description})">OK</button> -->
  <button type="button" class="btn btn-secondary" [disabled] = "firmname.invalid" (click)="save()">OK</button>
  <button type="button" class="btn btn-secondary" mat-dialog-close cdkFocusInitial>Cancel</button>
</div>
