<div class="page-title sub-navbar">Permits
    <i class="fa fa-question-circle" placement="right" ngbPopover="View/edit project permit information" popoverClass="my-popover-class" autoClose="true" container="body"></i>
</div>
<div class="container">
  <div class="form-row">
    <div class="form-group row col-lg-4 col-md-12">
      <label class="col-lg-10 col-md-6 col-form-label">Corps Permit Required?</label>
      <div class="col-lg-2 col-md-4"><input type="checkbox" class="form-check-input" [(ngModel)]="info.corps_permit_required" (change)="resetStatus($event)"></div>
    </div>
    <div class="form-group row col-lg-8 col-md-12">
      <label class="col-lg-6 col-md-6 col-form-label">Corps Permit Status</label>
      <div class="col-lg-6 col-md-6 col-sm-6 input-group">
        <input class="form-control" [matDatepicker]="dp_corps_permit_status" placeholder="mm/dd/yyyy" [disabled] = "!info.corps_permit_required" [(ngModel)]="info.corps_permit_status">
        <mat-datepicker-toggle matSuffix [for]="dp_corps_permit_status"></mat-datepicker-toggle>
        <mat-datepicker #dp_corps_permit_status></mat-datepicker>
        <!-- <input class="form-control" placeholder="yyyy-mm-dd" [disabled] = "!info.corps_permit_required"
        ngbDatepicker #dp_corps_permit_status="ngbDatepicker"  [(ngModel)]="info.corps_permit_date">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="dp_corps_permit_status.toggle()" type="button" [disabled] = "!info.corps_permit_required">
            <img [src]="calendarIconPath" style="width: 1.2rem; height: 1rem;"/>
          </button>
        </div> -->
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group row col-lg-4 col-md-12">
      <label class="col-lg-10 col-md-6 col-form-label">MDE ESC Required?</label>
      <div class="col-lg-2 col-md-4"><input type="checkbox" class="form-check-input" [(ngModel)]="info.mde_permit_required"  (change)="resetStatus($event)"></div>
    </div>
    <div class="form-group row col-lg-8 col-md-12">
      <label class="col-lg-6 col-md-6 col-form-label">MDE ESC Status</label>
      <div class="col-lg-6 col-md-6 col-sm-6 input-group">
        <input class="form-control" [matDatepicker]="dp_mde_status" placeholder="mm/dd/yyyy" [disabled] = "!info.mde_permit_required" [(ngModel)]="info.mde_permit_status">
        <mat-datepicker-toggle matSuffix [for]="dp_mde_status"></mat-datepicker-toggle>
        <mat-datepicker #dp_mde_status></mat-datepicker>
        <!-- <input class="form-control" placeholder="yyyy-mm-dd" [disabled] = "!info.mde_permit_required" ngbDatepicker #dp_mde_status="ngbDatepicker"  [(ngModel)]="info.mde_permit_date">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="dp_mde_status.toggle()" type="button" [disabled] = "!info.mde_permit_required">
            <img [src]="calendarIconPath" style="width: 1.2rem; height: 1rem;"/>
          </button>
        </div> -->
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group row col-lg-4 col-md-12">
      <label class="col-lg-10 col-md-6 col-form-label">Dam Safety Approval?</label>
      <div class="col-lg-2 col-md-4"><input type="checkbox" class="form-check-input" [(ngModel)]="info.dam_saftey_approval"  (change)="resetStatus($event)"></div>
    </div>
    <div class="form-group row col-lg-8 col-md-12">
      <label class="col-lg-6 col-md-6 col-form-label">Dam Safety Status</label>
      <div class="col-lg-6 col-md-6 col-sm-6 input-group">
        <input class="form-control" [matDatepicker]="dp_dam_status" placeholder="mm/dd/yyyy" [disabled] = "!info.dam_saftey_approval" [(ngModel)]="info.dam_saftey_status">
        <mat-datepicker-toggle matSuffix [for]="dp_dam_status"></mat-datepicker-toggle>
        <mat-datepicker #dp_dam_status></mat-datepicker>
        <!-- <input class="form-control" placeholder="yyyy-mm-dd" [disabled] = "!info.dam_saftey_approval" ngbDatepicker #dp_dam_status="ngbDatepicker"  [(ngModel)]="info.dam_saftey_date">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="dp_dam_status.toggle()" type="button" [disabled] = "!info.dam_saftey_approval">
            <img [src]="calendarIconPath" style="width: 1.2rem; height: 1rem;"/>
          </button>
        </div> -->
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group row col-lg-4 col-md-12">
      <label class="col-lg-10 col-md-6 col-form-label">SWM Approval?</label>
      <div class="col-lg-2 col-md-4"><input type="checkbox" class="form-check-input" [(ngModel)]="info.swm_approval"  (change)="resetStatus($event)"></div>
    </div>
    <div class="form-group row col-lg-8 col-md-12">
      <label class="col-lg-6 col-md-6 col-form-label">SWM Status</label>
      <div class="col-lg-6 col-md-6 col-sm-6 input-group">
        <input class="form-control" [matDatepicker]="dp_swm_approval_status" placeholder="mm/dd/yyyy" [disabled] = "!info.swm_approval" [(ngModel)]="info.swm_status">
        <mat-datepicker-toggle matSuffix [for]="dp_swm_approval_status"></mat-datepicker-toggle>
        <mat-datepicker #dp_swm_approval_status></mat-datepicker>
        <!-- <input class="form-control" placeholder="yyyy-mm-dd" [disabled] = "!info.swm_approval" ngbDatepicker #dp_swm_approval_status="ngbDatepicker"  [(ngModel)]="info.swm_date">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="dp_swm_approval_status.toggle()" type="button" [disabled] = "!info.swm_approval" >
            <img [src]="calendarIconPath" style="width: 1.2rem; height: 1rem;"/>
          </button>
        </div> -->
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group row col-lg-4 col-md-12">
      <label class="col-lg-10 col-md-6 col-form-label">MS-4 Required?</label>
      <div class="col-lg-2 col-md-4"><input type="checkbox" class="form-check-input"[(ngModel)]="info.ms4_permit_required"  (change)="resetStatus($event)"></div>
    </div>
    <div class="form-group row col-lg-8 col-md-12">
      <label class="col-lg-6 col-md-6 col-form-label">MS-4 Status</label>
      <div class="col-lg-6 col-md-6 col-sm-6 input-group">
        <input class="form-control" [matDatepicker]="dp_ms4_status" placeholder="mm/dd/yyyy" [disabled] = "!info.ms4_permit_required" [(ngModel)]="info.ms4_permit_status">
        <mat-datepicker-toggle matSuffix [for]="dp_ms4_status"></mat-datepicker-toggle>
        <mat-datepicker #dp_ms4_status></mat-datepicker>
        <!-- <input class="form-control" placeholder="yyyy-mm-dd" [disabled] = "!info.ms4_permit_required" ngbDatepicker #dp_ms4_status="ngbDatepicker"  [(ngModel)]="info.ms4_permit_date">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="dp_ms4_status.toggle()" type="button" [disabled] = "!info.ms4_permit_required">
            <img [src]="calendarIconPath" style="width: 1.2rem; height: 1rem;"/>
          </button>
        </div> -->
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group row col-lg-4 col-md-12">
      <label class="col-lg-10 col-md-6 col-form-label">Local Permit Required?</label>
      <div class="col-lg-2 col-md-4 col-sm-4"><input type="checkbox" class="form-check-input" [(ngModel)]="info.local_permit_required"  (change)="resetStatus($event)"></div>
    </div>
    <div class="form-group row col-lg-8 col-md-12">
      <label class="col-lg-6 col-md-6 col-form-label">Local Permit Status</label>
      <div class="col-lg-6 col-md-6 col-sm-6 input-group">
        <input class="form-control" [matDatepicker]="dp_local_status" placeholder="mm/dd/yyyy" [disabled] = "!info.local_permit_required" [(ngModel)]="info.local_permit_status">
        <mat-datepicker-toggle matSuffix [for]="dp_local_status"></mat-datepicker-toggle>
        <mat-datepicker #dp_local_status></mat-datepicker>
        <!-- <input class="form-control" placeholder="yyyy-mm-dd" [disabled] = "!info.local_permit_required" ngbDatepicker #dp_local_status="ngbDatepicker"  [(ngModel)]="info.local_permit_date">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="dp_local_status.toggle()" type="button" [disabled] = "!info.local_permit_required">
            <img [src]="calendarIconPath" style="width: 1.2rem; height: 1rem;"/>
          </button>
        </div> -->
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group row col-lg-4 col-md-12">
      <label class="col-lg-10 col-md-6 col-form-label">Tidal Wetland Required?</label>
      <div class="col-lg-2 col-md-4 col-sm-4"><input type="checkbox" class="form-check-input" [(ngModel)]="info.wetland_permit_required"  (change)="resetStatus($event)"></div>
    </div>
    <div class="form-group row col-lg-8 col-md-12">
      <label class="col-lg-6 col-md-6 col-form-label">Tidal Wetland Status</label>
      <div class="col-lg-6 col-md-6 col-sm-6 input-group">
        <input class="form-control" [matDatepicker]="dp_wetland_status" placeholder="mm/dd/yyyy" [disabled] = "!info.wetland_permit_required" [(ngModel)]="info.wetland_permit_status">
        <mat-datepicker-toggle matSuffix [for]="dp_wetland_status"></mat-datepicker-toggle>
        <mat-datepicker #dp_wetland_status></mat-datepicker>
        <!-- <input class="form-control" placeholder="yyyy-mm-dd" [disabled] = "!info.wetland_permit_required" ngbDatepicker #dp_wetland_status="ngbDatepicker"  [(ngModel)]="info.wetland_permit_date">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="dp_wetland_status.toggle()" type="button"  [disabled] = "!info.wetland_permit_required">
            <img [src]="calendarIconPath" style="width: 1.2rem; height: 1rem;"/>
          </button>
        </div> -->
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group row col-lg-4 col-md-12">
      <label class="col-lg-10 col-md-6 col-form-label">Critical Area Required?</label>
      <div class="col-lg-2 col-md-4 col-sm-4"><input type="checkbox" class="form-check-input" [(ngModel)]="info.critical_area_permit_required"  (change)="resetStatus($event)"></div>
    </div>
    <div class="form-group row col-lg-8 col-md-12">
      <label class="col-lg-6 col-md-6 col-form-label">Critical Area Status</label>
      <div class="col-lg-6 col-md-6 col-sm-6 input-group">
        <input class="form-control" [matDatepicker]="dp_ca_status" placeholder="mm/dd/yyyy" [disabled] = "!info.critical_area_permit_required" [(ngModel)]="info.critical_area_permit_status">
        <mat-datepicker-toggle matSuffix [for]="dp_ca_status"></mat-datepicker-toggle>
        <mat-datepicker #dp_ca_status></mat-datepicker>
        <!-- <input class="form-control" placeholder="yyyy-mm-dd" [disabled] = "!info.critical_area_permit_required" ngbDatepicker #dp_ca_status="ngbDatepicker"  [(ngModel)]="info.critical_area_date">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="dp_ca_status.toggle()" type="button" [disabled] = "!info.critical_area_permit_required">
            <img [src]="calendarIconPath" style="width: 1.2rem; height: 1rem;"/>
          </button>
        </div> -->
      </div>
    </div>
  </div>
</div>
<div class="center-div">
  <button type="button" class="btn btn-secondary" (click)="updateProjectPermit()" title="Edit permit information"><i class="fa fa-save" aria-hidden="true"></i> Save </button>
</div>
