@media (min-width: 992px){
  .col-lg-4{
    padding-left:0;
    padding-right:8px;
  }
}
.detailContainer {
  width: 100%;
  background-color: #dcdcdc;
}

.reportContainer{
  background-color: inherit;
}

.col-lg-8{
  padding-left:0;
  padding-right:0px;
}
.sidenav{
  width:260px;
}

.report-list .mat-list-item{
  height:68px;
}

a{
  color:#fff;
}
