<div class="navbar flex-column flex-md-row bg-secondary">
  <a class="d-none d-lg-block" title="Back to home page" (click)='backToHome()'><img
       [src]="logoPath"  height="61" width=128>
       </a>
  <div class="header-title">Engineering Response Desk Portal</div>

  <button type="button" class="btn btn-outline search-container d-none d-md-block d-lg-block">
    <i class="fa fa-user-o" aria-hidden="true"></i>
    <span>{{username}}</span>
  </button>
</div>

<div class="navbar bg-navbar center-div page-title">{{title}}</div>
