<div class="container">
  <h2>Engineering Response Desk Portal</h2>

  <!-- <p>The primary goal of the MPA Engineering Response Desk Portal is to:</p> -->
  <ul>
    <li>Allows requesters to file and track their requests.</li>
    <li>Allows reviewers to respond and update their progress.</li>
  </ul>
  <p>The requester documentation is available here:
    <a href="./assets/documentations/MPA - Engineering Response Desk Tracker Requester User Guide.pdf" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true" style="margin-left:10px;font-size:24px;color:red;"></i></a>
 </p>
  <!-- <ul class="list-unstyled">
      <li [hidden] = "hideRequestReportTab"><b>Request Report Tab</b>
        <ul>
          <li>View, filter and print report for total number of requests by category.</li>
          <li>View, filter and print report for total number of requests by requester.</li>
          <li>View, filter and print report for total number of assigned/pending requests by reviewer.</li>
          <li>View, filter and print report for minimum/average/maximum response time by category.</li>
          <li>View, filter and print report for minimum/average/maximum response time by reviewer.</li>
        </ul>
      </li>
      <li [hidden] = "hideAdminTab"><b>Admin Tab</b>
        <ul>
          <li>View, add and remove a user to or from a role.</li>
          <li>Create and edit a request category.</li>
          <li>View, add and remove a sidetab to or from a request category.</li>
        </ul>
      </li>
      <li [hidden] = "hideAssignerTab"><b>Assignment Rules Tab</b>
        <ul>
            <li>Auto-assign reviewer(s) to specific categories.</li>
        </ul>
      </li>
      <li [hidden] = "hideAssignerTab"><b>Assignments Tab</b>
       <ul>
          <li>View a list of submitted requests by default.</li>
          <li>Filter and search requests based on various criteria (i.e. description, requester, type, status, date, etc.)</li>
          <li>View request details page by clicking on the ER No.</li>
          <ul>
            <li>Mark a submitted request as high priority in request general information.</li>
            <li>Assign a submitted request to one or more reviewers.</li>
            <li>Receive automated emails notifying the assigner that a new request has been submitted or auto-assigned.</li>
            <li>Communicate to requesters and assigners via tracked comments by automated emails.</li>
          </ul>
        </ul>
      </li>
      <li [hidden] = "hideReviewerTab"><b>Reviews Tab</b> <a href="./assets/documentations/MPA - Engineering Response Desk Tracker Reviewer User Guide.pdf" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true" style="margin-left:10px;font-size:24px;color:red;"></i></a>
        <ul>
          <li>View a list of assigned requests by default.</li>
          <li>Filter and search requests based on various criteria (i.e. description, requester, type, status, date, etc.)</li>
          <li>View request details page by clicking on the ER No.</li>
          <ul>
            <li>View request general information.</li>
            <li>Assign a submitted request to one or more reviewers.</li>
            <li>Receive automated emails notifying the reviewer that they have been assigned to a request.</li>
            <li>Receive automated emails notifying the reviewer that an assigned request has been resubmitted.</li>
            <li>Closeout and complete requests.</li>
            <li>Communicate to requesters and assigners via tracked comments by automated emails.</li>
            <li>View/add/edit/delete/download documents for certain type of requests.</li>
            <li>View/add/edit/delete external 3rd-party contacts for certain types of requests.</li>
            <li>View/add/delete contract numbers for certain types of requests.</li>
            <li>View/add/edit/delete ProjectWise links for certain types of requests.</li>
            <li>View/add/remove location points/polygons for certain types of requests.</li>
          </ul>
        </ul>
      </li>
      <li [hidden] = "hideRequesterTab"><b>Requests Tab</b> <a href="./assets/documentations/MPA - Engineering Response Desk Tracker Requester User Guide.pdf" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true" style="margin-left:10px;font-size:24px;color:red;"></i></a>
        <ul>
          <li>View a list of requests submitted by the requester.</li>
          <li>Create new requests.</li>
          <li>Filter and search requests based on various criteria (i.e. description, requester, type, status, date, etc.)</li>
          <li>View request details page by clicking on the ER No.</li>
            <ul>
              <li>Submit requests for review.</li>
              <li>Delete unsubmitted requests.</li>
              <li>View and edit request general information.</li>
              <li>Communicate to reviewers and assigners via tracked comments by automated emails.</li>
              <li>Receive automated emails notifying the requester that a request has been assigned or completed.</li>
              <li>View/add/edit/delete/download documents for certain type of requests.</li>
              <li>View/add/edit/delete external 3rd-party contacts for certain types of requests.</li>
              <li>View/add/delete contract numbers for certain types of requests.</li>
              <li>View/add/edit/delete ProjectWise links for certain types of requests.</li>
              <li>View/add/remove location points/polygons for certain types of requests.</li>
              <li>For submitted and assigned requests, unlock requests for editing will resubmit the request and change the request date.</li>
            </ul>
          </ul>
        </li>
      <li [hidden] = "hideProjectAdminTab"><b>All Projects Tab</b>
        <ul>
          <li>View a list of projects.</li>
          <li>Filter and search projects based on various criteria (i.e. contract number, project number, firm, description, etc.)</li>
          <li>Create new projects.</li>
          <li>View project details page by clicking on the project number.</li>
            <ul>
              <li>Delete projects.</li>
              <li>View and edit project general info.</li>
              <li>Assign project managers to projects.</li>
              <li>View and edit permit dates.</li>
              <li>View and edit procurement phase info.</li>
              <li>View and edit construction phase info.</li>
              <li>Generate milestone dates by project size and NTP date in construction phase.</li>
              <li>Override auto-generated milestone dates.</li>
            </ul>
          </ul>
      </li>
      <li [hidden] = "hideProjectManagerTab"><b>Assigned Projects Tab</b>
        <ul>
          <li>View a list of projects assigned to the project manager.</li>
          <li>Filter and search projects based on various criteria (i.e. contract number, project number, firm, description, etc.)</li>
          <li>View project details page by clicking on the project number.</li>
          <ul>
            <li>View project general info.</li>
            <li>View and edit permit dates.</li>
            <li>View and edit procurement phase info.</li>
            <li>View and edit certain construction phase info.</li>
            <ul>
              <li>Update finished milestone dates after completion.</li>
              <li>If a milestone is late, it requires a comment; otherwise comments are optional.</li>
            </ul>
          </ul>
        </ul>
     </li>
      <li [hidden] = "hideProjectReportTab"><b>Project Report Tab</b>
        <ul>
            <li>View, filter and print milestone reports.</li>
        </ul>
      </li>
    </ul> -->
</div>
