<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" mat-dialog-close>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group row required">
    <label class="col-sm-3 col-form-label">Name</label>
    <div class="col-sm-9">
      <input #name="ngModel" required class="form-control" [(ngModel)]="category.category_name">
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="validate-error">
        <div *ngIf="name.errors.required">
          Category name is required.
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row required">
    <label class="col-sm-3 col-form-label">Code</label>
    <div class="col-sm-9">
      <input #code="ngModel" required appCategoryValidator={{currentCode}} class="form-control" [(ngModel)]="category.category_code">
      <div *ngIf="code.invalid && (code.dirty || code.touched)" class="validate-error">
        <div *ngIf="code.errors.required">
          Category code is required.
        </div>
        <div *ngIf="code.errors?.codeDuplicate">
           Category code already exists.
         </div>
      </div>
    </div>
  </div>
  <div class="form-group row required">
    <label class="col-sm-3 col-form-label">Due Date</label>
    <div class="col-sm-4">
      <input #days="ngModel" required class="form-control" [(ngModel)]="category.max_request_days" type="number" min=1>
      <div *ngIf="days.invalid && (days.dirty || days.touched)" class="validate-error">
        <div *ngIf="days.errors.required">
          Due date is required.
        </div>
      </div>
    </div>
    <label class="col-sm-1 col-form-label">days</label>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" [disabled] = "name.invalid || code.invalid || days.invalid" (click)="save()">OK</button>
  <button type="button" class="btn btn-secondary" mat-dialog-close cdkFocusInitial>Cancel</button>
</div>
