<div class="page-title sub-navbar">Procurement Phase
    <i class="fa fa-question-circle" placement="right" ngbPopover="View/edit procurement phase information" popoverClass="my-popover-class" autoClose="true" container="body"></i>
</div>
<div class="container">
  <div class="form-row">
    <div class="form-group row col-md-12">
      <label class="col-lg-8 col-md-8 col-form-label">Procurement Officer</label>
      <div ngbDropdown class="col-lg-4 col-md-4 col-sm-6">
        <button class="btn btn-outline" id="officerMenu" ngbDropdownToggle [disabled] = "disabled">{{selectedOfficer}}</button>
         <div ngbDropdownMenu aria-labelledby="officerMenu">
            <button class="dropdown-item" (click)="onChangeOfficer(null)">Select...</button>
            <button class="dropdown-item" *ngFor="let officer of officers" (click)="onChangeOfficer(officer)">{{officer.fname}} {{officer.lname}}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group row col-md-12">
      <label class="col-lg-8 col-md-8 col-form-label">Next or Final Spec Date</label>
      <div class="col-lg-4 col-md-4 col-sm-6 input-group">
        <input class="form-control" [matDatepicker]="dp_next_spec_date" placeholder="mm/dd/yyyy" [(ngModel)]="info.next_or_final_specs_date">
        <mat-datepicker-toggle matSuffix [for]="dp_next_spec_date"></mat-datepicker-toggle>
        <mat-datepicker #dp_next_spec_date></mat-datepicker>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group row col-md-12">
      <label class="col-lg-8 col-md-8 col-form-label">Procurement Start Date</label>
      <div class="col-lg-4 col-md-4 col-sm-6 input-group">
        <input class="form-control" [matDatepicker]="dp_proc_start_date" placeholder="mm/dd/yyyy" [(ngModel)]="info.procurement_start_date">
        <mat-datepicker-toggle matSuffix [for]="dp_proc_start_date"></mat-datepicker-toggle>
        <mat-datepicker #dp_proc_start_date></mat-datepicker>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group row col-md-12">
      <label class="col-lg-8 col-md-8 col-form-label">PRG Date</label>
      <div class="col-lg-4 col-md-4 col-sm-6 input-group">
        <input class="form-control" [matDatepicker]="dp_prg_date" placeholder="mm/dd/yyyy" [(ngModel)]="info.prg_date">
        <mat-datepicker-toggle matSuffix [for]="dp_prg_date"></mat-datepicker-toggle>
        <mat-datepicker #dp_prg_date></mat-datepicker>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group row col-md-12">
      <label class="col-lg-8 col-md-8 col-form-label">(Early) Adv Date</label>
      <div class="col-lg-4 col-md-4 col-sm-6 input-group">
        <input class="form-control" [matDatepicker]="dp_adv_date" placeholder="mm/dd/yyyy" [(ngModel)]="info.early_adv_date">
        <mat-datepicker-toggle matSuffix [for]="dp_adv_date"></mat-datepicker-toggle>
        <mat-datepicker #dp_adv_date></mat-datepicker>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group row col-md-12">
      <label class="col-lg-8 col-md-8 col-form-label">(Early) Bids Open Date</label>
      <div class="col-lg-4 col-md-4 col-sm-6 input-group">
        <input class="form-control" [matDatepicker]="dp_bids_date" placeholder="mm/dd/yyyy" [(ngModel)]="info.early_bids_date">
        <mat-datepicker-toggle matSuffix [for]="dp_bids_date"></mat-datepicker-toggle>
        <mat-datepicker #dp_bids_date></mat-datepicker>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group row col-md-12">
      <label class="col-lg-8 col-md-8 col-form-label">MPC Date</label>
      <div class="col-lg-4 col-md-4 col-sm-6 input-group">
        <input class="form-control" [matDatepicker]="dp_mpc" placeholder="mm/dd/yyyy" [(ngModel)]="info.mpc">
        <mat-datepicker-toggle matSuffix [for]="dp_mpc"></mat-datepicker-toggle>
        <mat-datepicker #dp_mpc></mat-datepicker>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group row col-md-12">
      <label class="col-lg-8 col-md-8 col-form-label">Board of Public Works Date</label>
      <div class="col-lg-4 col-md-4 col-sm-6 input-group">
        <input class="form-control" [matDatepicker]="dp_bpw" placeholder="mm/dd/yyyy" [(ngModel)]="info.bpw">
        <mat-datepicker-toggle matSuffix [for]="dp_bpw"></mat-datepicker-toggle>
        <mat-datepicker #dp_bpw></mat-datepicker>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group row col-md-12">
      <label class="col-lg-8 col-md-8 col-form-label">NTP Date</label>
      <div class="col-lg-4 col-md-4 col-sm-6 input-group">
        <input class="form-control" [matDatepicker]="dp_ntp_date" placeholder="mm/dd/yyyy" [(ngModel)]="info.ntp_date">
        <mat-datepicker-toggle matSuffix [for]="dp_ntp_date"></mat-datepicker-toggle>
        <mat-datepicker #dp_ntp_date></mat-datepicker>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group row col-md-12">
      <label class="col-lg-8 col-md-8 col-form-label">Current Procument Day (# of days procument has contract)</label>
      <div class="col-lg-4 col-md-4 col-sm-6"><input class="form-control" [(ngModel)]="info.current_proc_day" type="number" min=1></div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group row col-md-12">
      <label class="col-lg-8 col-md-8 col-form-label">Completion Date</label>
      <div class="col-lg-4 col-md-4 col-sm-6 input-group  datepicker-menu">
        <input class="form-control" [matDatepicker]="dp_compl_date" placeholder="mm/dd/yyyy" [(ngModel)]="info.compl_date">
        <mat-datepicker-toggle matSuffix [for]="dp_compl_date"></mat-datepicker-toggle>
        <mat-datepicker #dp_compl_date></mat-datepicker>
      </div>
    </div>
  </div>
</div>
<div class="center-div" [hidden] = "hide">
  <button type="button" class="btn btn-secondary" (click)="updateProcurementPhase()" title="Edit procument phase information"><i class="fa fa-save" aria-hidden="true"></i> Save </button>
</div>
