<mat-sidenav-container class="detailContainer">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item [routerLinkActive]="['active']" routerLink="./roles" title="Manage user roles">Roles</a>
      <a mat-list-item [routerLinkActive]="['active']" routerLink="./category" title="Manage request categories">Categories</a>
      <a mat-list-item [routerLinkActive]="['active']" routerLink="./sidetabs" title="Manage side-tabs by category">Side-Tabs</a>
      <a mat-list-item [routerLinkActive]="['active']" routerLink="./reqdepts" title="Manage requester departments">Requester Depts</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
