<app-search-panel (searchRequest)="searchRequesterRequest($event)"></app-search-panel>

<div class="resultBar">
  <div class="resultcount"><b>{{resultCount}}</b> (Please note: Overdue requests will be highlighted in pink and High Priority requests will be red-flagged)</div>
  <button class="btn btnNewRequest btn-secondary" (click)="openNewRequestDialog()" title="create new request"><i class="fa fa-plus-square"></i> New Request </button>
</div>

<app-request-table [searchCriteria]="searchCriteria" [role_id]="role_id" (resultCount)="searchResultCount($event)"></app-request-table>
