<div class="page-title sub-navbar">General
    <i class="fa fa-question-circle" placement="right" ngbPopover="View/edit request general information" popoverClass="my-popover-class" autoClose="true" container="body"></i>
</div>
<div class="container">
  <div class="form-row">
    <div class="form-group row col-lg-4 col-md-9">
      <label class="col-lg-4 col-md-4 col-sm-4 col-form-label form-label-sm">ER No.</label>
      <div class="col-lg-8 col-md-6 col-sm-8"><input class="form-control" [disabled] = true value={{generalInfo.sequence_id}}></div>
    </div>
    <div class="form-group row col-lg-8 col-md-12">
      <label class="col-lg-4 col-md-3 col-sm-4 col-form-label">Task Manager</label>
      <div class="col-lg-8 col-md-8 col-sm-8"><input class="form-control" [disabled] = true value={{generalInfo.str_reviewers}}></div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group row col-lg-4 col-md-9">
      <label class="col-lg-4 col-md-4 col-sm-4 col-form-label form-label-sm">Status</label>
      <div class="col-lg-8 col-md-6 col-sm-8"><input class="form-control" [disabled] = true value={{generalInfo.status_desc}}></div>
    </div>
    <div class="form-group row col-lg-8 col-md-9">
      <label class="col-lg-4 col-md-4 col-sm-4 col-form-label">High Priority</label>
      <div class="col-lg-8 col-md-2 col-sm-8"><input type="checkbox" class="form-check-input" [disabled] = "assignerDisabled" [(ngModel)]="generalInfo.high_priority"></div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group row col-lg-4 col-md-9">
      <label class="col-lg-4 col-md-4 col-sm-4 col-form-label form-label-sm">Location</label>
      <!-- <div class="col-sm-9"><input class="form-control" [disabled] = "disabled" value={{generalInfo.location_name}}></div> -->
      <div ngbDropdown class="col-lg-8 col-md-6 col-sm-8">
        <button class="btn btn-outline" id="locMenu" ngbDropdownToggle [disabled] = "disabled">{{selectedLoc}}</button>
         <div ngbDropdownMenu aria-labelledby="locMenu">
          <button class="dropdown-item" *ngFor="let loc of locs" (click)="onChangeLoc(loc)">{{loc.location_name}}</button>
        </div>
      </div>
    </div>
    <div class="form-group row col-lg-8 col-md-9">
      <label class="col-lg-4 col-md-4 col-sm-4 col-form-label">Request Date</label>
      <div class="col-lg-8 col-md-6 col-sm-8"><input class="form-control" [disabled] = true value={{create_date}}></div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group row col-lg-4 col-md-9">
      <label class="col-lg-4 col-md-4 col-sm-4 col-form-label form-label-sm">Requester</label>
      <div class="col-lg-8 col-md-6 col-sm-8"><input class="form-control" [disabled] = true value={{generalInfo.requestor_name}}></div>
    </div>
    <div class="form-group row col-lg-8 col-md-12">
      <label class="col-lg-4 col-md-3 col-sm-4 col-form-label">Department</label>
      <div ngbDropdown class="col-lg-8 col-md-8 col-sm-8">
        <button class="btn btn-outline" id="deptMenu" ngbDropdownToggle [disabled] = "disabled">{{selectedDept}}</button>
         <div ngbDropdownMenu aria-labelledby="deptMenu">
          <button class="dropdown-item" *ngFor="let dept of departments" (click)="onChangeDept(dept)">{{dept.deptmt_name}}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group row col-lg-8 col-md-12">
      <label class="col-lg-2 col-md-3 col-sm-4 col-form-label form-label-sm">Description</label>
      <div class="col-lg-10 col-md-8 col-sm-8"><input type="text" class="form-control" [disabled] = "disabled" [(ngModel)]="generalInfo.description"></div>
    </div>

  </div>
  <div class="form-row">
    <div class="form-group row col-lg-8 col-md-12">
        <label class="col-lg-2 col-md-3 col-sm-4 col-form-label form-label-sm">Notes</label>
        <div class="col-lg-10 col-md-8 col-sm-8"><textarea type="text" class="form-control" [disabled] = "disabled" [(ngModel)]="generalInfo.notes" rows="8"></textarea></div>
    </div>
  </div>
</div>
<div class="center-div" [hidden] = "hide">
  <button type="button" class="btn btn-secondary" (click)="updateRequestGeneral()" title="Edit general information"><i class="fa fa-save" aria-hidden="true"></i> Save </button>
</div>
