a{
  text-decoration: underline;
}

tr.element-row:hover {
  background: #f5f5f5;
}

tr.element-row:active {
  background: #efefef;
}
.overdue-row .mat-cell{
  color:rgba(244,67,54);
  font-weight:bold;
}

.table-container{
  height:600px;
}
