<div class="page-title sub-navbar">CONSTRUCTION PHASE
    <i class="fa fa-question-circle" placement="right" ngbPopover="View/edit project construction phase information" popoverClass="my-popover-class" autoClose="true" container="body"></i>
</div>
<div class="container">
  <div class="form-row">
    <div class="form-group row col-lg-12 col-md-12">
      <label class="col-lg-4 col-md-4 col-form-label">Firm Name for Construction</label>
      <div ngbDropdown class="col-lg-4 col-md-6">
        <button class="btn btn-outline" id="firmMenu" ngbDropdownToggle>{{selectedFirm}}</button>
         <div ngbDropdownMenu aria-labelledby="firmMenu">
             <button class="dropdown-item" (click)="onChangeFirm(null)">Select...</button>
          <button class="dropdown-item" *ngFor="let firm of firms" (click)="onChangeFirm(firm)">{{firm.firm_name}}</button>
        </div>
      </div>
      <button type="button" class="close" aria-label="true" (click)="openNewFirmDialog()">
        <i class="col-lg-1 col-md-2 col-sm-2 fa fa-plus" aria-hidden="true" style="display:block;"></i>
      </button>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group row col-lg-12 col-md-12">
      <label class="col-lg-4 col-md-4 col-form-label">Project Size</label>
      <div ngbDropdown class="col-lg-3 col-md-3">
        <button class="btn btn-outline" id="sizeMenu" ngbDropdownToggle>{{selectedSize}}</button>
         <div ngbDropdownMenu aria-labelledby="sizeMenu">
             <button class="dropdown-item" (click)="onChangeSize(null)">Select...</button>
          <button class="dropdown-item" *ngFor="let size of sizes" (click)="onChangeSize(size)">{{size.size_name}}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group row col-lg-12 col-md-12">
      <label class="col-lg-4 col-md-4 col-form-label">NTP Date</label>
      <div class="col-lg-3 col-md-3 input-group  datepicker-menu">
        <input class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker #dp_ntp_formatted="ngbDatepicker"  [(ngModel)]="info.ntp_formatted">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="dp_ntp_formatted.toggle()" type="button">
            <img [src]="calendarIconPath" style="width: 1.2rem; height: 1rem;"/>
          </button>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
          <button type="button" class="btn btn-secondary" (click)="generateMilestones()" title="Generate milestone dates"> Generate Milestones </button>
      </div>
    </div>
  </div>
  <div class="form-row" *ngFor="let milestone of info.milestones">
    <div class="form-group row col-lg-12 col-md-12">
      <label class="col-lg-1 col-md-1 col-sm-1 col-form-label">{{milestone.milestone_percentage}}%</label>
      <div class="col-lg-3 col-md-6 col-sm-6 input-group  datepicker-menu">
        <input class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker #dp_target_date="ngbDatepicker"  [disabled] = "disabled" [(ngModel)]="milestone.target_formatted">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="dp_target_date.toggle()" type="button" [disabled] = "disabled">
            <img [src]="calendarIconPath" style="width: 1.2rem; height: 1rem;"/>
          </button>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 input-group  datepicker-menu">
        <input class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker #dp_complete_date="ngbDatepicker"  [disabled] = "disabled" [(ngModel)]="milestone.complete_formatted">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="dp_complete_date.toggle()" type="button" [disabled] = "disabled">
            <img [src]="calendarIconPath" style="width: 1.2rem; height: 1rem;"/>
          </button>
        </div>
      </div>
      <div class="col-lg-5 col-md-4 col-sm-4">
        <input #comment="ngModel" comment class="form-control" [(ngModel)]="milestone.comment_text">
        <div *ngIf="compareMilestoneDates(milestone.target_formatted, milestone.complete_formatted)" class="invalid-tooltip">
            Comment is required.
        </div>
      </div>
    </div>
  </div>

</div>
<div class="center-div" [hidden] = "hide">
  <button type="button" class="btn btn-secondary" (click)="updateConstructionPhase()" title="Edit construction phase information"><i class="fa fa-save" aria-hidden="true"></i> Save </button>
</div>
