<div class="page-title sub-navbar">Location
    <i class="fa fa-question-circle" placement="right" ngbPopover="View/add/remove points/polygons" popoverClass="my-popover-class" autoClose="true" container="body"></i>
</div>
<div id="mapDiv">
</div>
<div class="center-div">
    <button type="button" class="btn btn-secondary" id="btnEdit" (click)="openLocationDialog()" [hidden]="hide" title="Edit location points/polygons">
      <i class="fa fa-pencil" aria-hidden="true"></i> Edit Location </button>
</div>
