<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" mat-dialog-close>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group row required">
    <label class="col-sm-5 col-form-label">Requester Dept Name</label>
    <div class="col-sm-7">
      <input #name="ngModel" required class="form-control" [(ngModel)]="dept.deptmt_name">
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="validate-error">
        <div *ngIf="name.errors.required">
          Requester Dept Name is required.
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-5 col-form-label">Requests Visibility</label>
    <div class="col-sm-7"><input type="checkbox" class="form-check-input" [(ngModel)]="dept.deptmt_visibility"></div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <input class="form-control" (keyup)="applyDeptUserFilter($event.target.value)" placeholder="Search dept users" style="margin-bottom:10px">
      <div class="table-container mat-elevation-z8">
        <table mat-table [dataSource]="deptUserDataSource" matSort>

        <ng-container matColumnDef="user">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Dept Users </th>
          <td mat-cell *matCellDef="let element"> {{element.fname}}  {{element.lname}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row" [class.selected-row]="selectedDeptUser === row" (click)="onSelectDeptUser(row)"></tr>
      </table>
      </div>
    </div>

    <div class="col-md-2 assign-btn-group">
      <div class = "btn-group-vertical">
        <button type="button" class="btn btn-secondary" (click)="addDeptUser()" title="Add users to dept users table on the left"><i class="fa fa-chevron-left" aria-hidden="true" style="margin-right:20px"></i>Add</button>
        <br>
        <button type="button" class="btn btn-secondary" (click)="removeDeptUser()" title="Remove users from dept users table on the right"> <i class="fa fa-chevron-right" aria-hidden="true"></i>Remove</button>
      </div>
    </div>

    <div class="col-md-5">
      <input class="form-control" (keyup)="applyUserFilter($event.target.value)" placeholder="Search available users" style="margin-bottom:10px">
      <div class="table-container mat-elevation-z8">
        <table mat-table [dataSource]="availableUserDataSource" matSort>
          <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Available Users </th>
            <td mat-cell *matCellDef="let element"> {{element.fname}}  {{element.lname}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row" [class.selected-row]="selectedAvailableUser === row" (click)="onSelectAvailableUser(row)"></tr>
        </table>
      </div>

    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" [disabled] = "name.invalid" (click)="save()">OK</button>
  <button type="button" class="btn btn-secondary" mat-dialog-close cdkFocusInitial>Cancel</button>
</div>
