<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" mat-dialog-close>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group row required">
    <label class="col-sm-5 col-form-label">Requester Dept Name</label>
    <div class="col-sm-7">
      <input #name="ngModel" required class="form-control" [(ngModel)]="dept_name">
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="validate-error">
        <div *ngIf="name.errors.required">
          Requester Dept Name is required.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" [disabled] = "name.invalid"  mat-dialog-close={{dept_name}}>OK</button>
  <button type="button" class="btn btn-secondary" mat-dialog-close cdkFocusInitial>Cancel</button>
</div>
